header{
	text-align: center;
	color: white;
	margin:0;
	background-color: #0b5ca1 ;
}

.headerText{
	background-color: #0b5ca1  !important;
}

.exploreButton, #registration{
	cursor: pointer;
	border-bottom: 1px solid;
	border-bottom-color: white;
	margin: 5px;
}
.title{
	display: inline-block;
	width: 50%;
	margin: 5px;
	color: white !Important;
	cursor: pointer;
}

.exploreButton{
	display: inline-block;
	float: left;
	margin-left: 20px !important;
}

#registration{
	display: inline-block;
	float: right;
	margin-right: 20px !important;
}

#Profile{
	display: none;
}

.dropdown h2{
	margin: 0;
	border: none;
}
